# Database
DATABASE_URL="postgresql://oghub:oghub_secret@localhost:5432/oghub?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Auth
JWT_SECRET="change-me-to-a-random-64-char-string"
JWT_EXPIRY="7d"

# API
API_PORT=3001
API_URL="http://localhost:3001"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001"

# SDK
SDK_HMAC_TOLERANCE_SECONDS=30
